%h2 Hello world
%div(class="item")
  %div(class="title") This is a template for a simple marketing or informational website.
  %div(class="content") This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
  %div(class="time") 2012-12-12
  %div(class="author") zhaoyou
